body {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background: url('../img/waves_violet.png') top left no-repeat,
    url('../img/waves_green.png') right top no-repeat,
    url('../img/background_top.png') top center repeat-x,
    url('../img/background_categories_top.png') top 620px left repeat-x,
    url('../img/background_categories_rectangle.png') top 680px left repeat-x,
    url('../img/background_categories_bottom.png') top 1130px left repeat-x,
    url('../img/background_bottom_wave_2.png') bottom 120px left repeat-x,
    url('../img/background_bottom_rectangle.png') bottom left repeat-x;

  background-size: 50px, 120px, 400px, 400px auto, auto 450px, contain, 250px, auto 150px;
}

.container {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: 1;
  font-family: Tahoma, sans-serif;
}

/************** HEADER ****************/
.header {
  display: block;
  text-align: center;
  margin-top: 15px;
  font-family: 'Chocolate', Verdana, Geneva, Tahoma, sans-serif;
  z-index: -1;
}

.header__title {
  display: flex;
  flex-flow: column nowrap;
  width: 300px;
  height: 200px;
  background: url('../img/background_title.png') top center no-repeat,
    url('../img/circle_blue.png') bottom left 30px no-repeat;
  background-size: contain, 70px;
}
.title--firstRow {
  font-size: 1.5em;
}
.title--secondRow {
  width: 90%;
  font-size: 1.5em;
}
.title--thirdRow {
  width: 80%;
  margin-top: -5px;
  font-size: 2em;
}

.img {
  display: none;
}

/************** MAIN ****************/
.main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  background: url('../img/waves_green.png') top left no-repeat,
    url('../img/point_pink.png') top 60px left 80px no-repeat,
    url('../img/point_green.png') top 20px left 180px no-repeat,
    url('../img/point_yellow.png') top right 120px no-repeat,
    url('../img/point_pink.png') top 80px right 40px no-repeat,
    url('../img/waves_pink.png') top 150px right no-repeat,
    url('../img/waves_green_2.png') top 350px right no-repeat;
  background-size: 120px, 10px, 10px, 10px, 10px, 100px, 120px;
}

.main__header {
  font-size: 26px;
  font-family: 'Jakob';
  color: rgb(141, 175, 221);
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
  width: 80%;
}

.main__content {
  width: 90%;
}

.main__results {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 80px;
  width: 90%;
  text-align: center;
  z-index: -1;
}

.results-number {
  display: block;
  font-size: 40px;
  font-family: 'Jakob';
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  content: '4';
  width: 70px;
  height: 70px;
  background: url('../img/circle_result.png') no-repeat;
  background-size: contain;
}

.results-text {
  display: block;
  width: 80%;
  min-height: 50px;
  background: url('../img/rectangle_result.png') no-repeat;
  background-size: cover;
  margin-top: 10px;
  margin-left: -30px;
  padding-left: 40px;
  padding-top: 20px;
  text-align: left;
  z-index: -1;
}

.main__categories {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

.category__label {
  position: relative;
  font-family: 'Jakob Extra';
  font-size: 1.5em;
  width: 250px;
  height: 70px;
  vertical-align: middle;
  top: -140px;
  left: 5%;
  color: white;
  padding-top: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  cursor: pointer;
}

.label--first {
  background: url('../img/category_label_left.png') transparent no-repeat;
  background-size: contain;
}
.label--second {
  background: url('../img/category_label_right.png') no-repeat;
  background-size: contain;
}

.category__img {
  width: 140px;
  z-index: -1;
}

.main__partners {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 40px;
  background: url('../img/waves_green.png') top 40px left -50px no-repeat,
    url('../img/point_pink.png') top 50px left 80px no-repeat,
    url('../img/point_pink.png') top 40px right 80px no-repeat,
    url('../img/point_pink.png') bottom right 130px no-repeat,
    url('../img/waves_pink_2.png') top -20px right -30px no-repeat;
  background-size: 120px, 10px, 10px, 10px, 100px;
}

.partners__title {
  width: 100%;
  font-size: 26px;
  font-family: 'Jakob';
  color: rgb(141, 175, 221);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.partners__logo {
  width: 100px;
  height: 28px;
  transition: transform 1s;
}

.partners__logo:hover {
  transform: scale(1.2);
}
.partners__logo:focus {
  outline: none;
  opacity: 0.7;
}

.logo-1 {
  background: url('../img/logo_likar_info.png') no-repeat;
  background-size: contain;
}

.logo-2 {
  background: url('../img/logo_hochu_ua.png') no-repeat;
  background-size: contain;
}

.logo-3 {
  background: url('../img/logo_open_media_group.png') no-repeat;
  background-size: contain;
}

/************** FOOTER ****************/
.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  color: white;
  font-family: 'Arial';
  margin-top: 60px;
  margin-bottom: 20px;
}

.contacts__link-group {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding-left: 15%;
  width: 100%;
}

.contacts {
  float: left;
  width: auto;
  margin-left: 30px;
  padding: 5px;
}

.contacts__link {
  color: inherit;
  text-decoration: none;
}

.contacts:hover {
  color: rgb(243, 243, 134);
}
.contacts:focus {
  outline: none;
  opacity: 0.7;
}
.contacts:active {
  color: grey;
}

.contacts::after {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  background-size: contain;
  margin-top: -20px;
  margin-left: -25px;
}

.contacts--adress::after {
  background: url('../img/home.png') no-repeat;
}
.contacts--mail::after {
  background: url('../img/close-envelope.png') no-repeat;
}
.contacts--phone::after {
  background: url('../img/phone-receiver.png') no-repeat;
}
.contacts--web::after {
  background: url('../img/icon.png') no-repeat;
}

.contacts__btns-group {
  text-align: center;
  width: 100%;
}

.contacts__btn {
  min-width: 48px;
  min-height: 48px;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: transform 1s;
}

.contacts__btn:hover {
  opacity: 0.8;
  transform: rotate(-15deg);
}

.contacts__btn:focus {
  outline: none;
  opacity: 0.7;
}

.contacts__btn:active {
  opacity: 0.5;
}
.btn--facebook {
  background: url('../img/btn_facebook.png') center center no-repeat;
}
.btn--instagram {
  background: url('../img/btn_instagram.png') center center no-repeat;
}
.btn--viber {
  background: url('../img/btn_viber.png') center center no-repeat;
}

/**
for smartphones
**/
@media screen and (min-width: 359px) {
  .title--firstRow {
    margin-top: -10px;
    font-size: 1.8em;
  }
  .title--secondRow {
    margin-top: -15px;
    font-size: 1.8em;
  }
  .title--thirdRow {
    margin-top: -10px;
    font-size: 2.4em;
  }
  .contacts__link-group {
    padding-left: 15%;
  }
}

@media screen and (min-width: 456px) {
  body {
    background: url('../img/waves_violet.png') top left no-repeat,
      url('../img/waves_green.png') right top no-repeat,
      url('../img/background_top.png') top center repeat-x,
      url('../img/background_categories_top.png') top 570px left repeat-x,
      url('../img/background_categories_rectangle.png') top 620px left repeat-x,
      url('../img/background_categories_bottom.png') top 760px left repeat-x,
      url('../img/background_bottom_wave_2.png') bottom 120px left repeat-x,
      url('../img/background_bottom_rectangle.png') bottom left repeat-x;
    background-size: 60px, 150px, 500px, contain, auto 200px, contain, 250px, auto 150px;
  }
}
/**
for tabs
**/
@media screen and (min-width: 599px) {
  body {
    background: url('../img/waves_violet.png') top 10px left no-repeat,
      url('../img/waves_green.png') 75% top no-repeat,
      url('../img/background_top.png') top center repeat-x,
      url('../img/background_categories_top.png') top 580px left repeat-x,
      url('../img/background_categories_rectangle.png') top 690px left repeat-x,
      url('../img/background_categories_bottom.png') top 750px left repeat-x,
      url('../img/background_bottom_wave_2.png') bottom 120px left repeat-x,
      url('../img/background_bottom_rectangle.png') bottom left repeat-x;
    background-size: 60px, 150px, 500px, contain, auto 100px, contain, 250px, auto 150px;
  }

  .header {
    width: 100%;
  }
  .header__title {
    height: 250px;
    margin-left: 50px;
    background: url('../img/background_title.png') top center no-repeat,
      url('../img/circle_blue.png') bottom 30px left 30px no-repeat;
    background-size: contain, 80px;
  }
  .title--firstRow {
    font-size: 2em;
  }
  .title--secondRow {
    font-size: 2em;
  }
  .title--thirdRow {
    font-size: 2.4em;
  }
  .img-woman {
    display: block;
    position: absolute;
    width: 200px;
    margin-top: -20px;
    margin-left: 400px;
  }
  .img-stroller {
    display: block;
    position: absolute;
    width: 150px;
    margin-top: 80px;
    margin-left: 350px;
  }
  .main {
    background: url('../img/waves_green.png') top left -50px no-repeat,
      url('../img/point_pink.png') top 60px left 80px no-repeat,
      url('../img/point_green.png') top 20px left 180px no-repeat,
      url('../img/point_yellow.png') top right 120px no-repeat,
      url('../img/point_pink.png') top 80px right 40px no-repeat,
      url('../img/waves_pink.png') top 110px right -20px no-repeat,
      url('../img/waves_green_2.png') top 220px right -50px no-repeat;
    background-size: 150px, 10px, 10px, 10px, 10px, 120px, 150px;
  }

  .main__partners {
    background: url('../img/waves_green.png') top left -50px no-repeat,
      url('../img/point_pink.png') top 50px left 160px no-repeat,
      url('../img/point_pink.png') top 40px right 120px no-repeat,
      url('../img/point_pink.png') bottom right 190px no-repeat,
      url('../img/waves_pink_2.png') top -20px right -30px no-repeat;
    background-size: 150px, 10px, 10px, 10px, 100px;
  }

  .contacts__link-group {
    padding-left: 28%;
  }
}

/**
for PC screens
**/
@media screen and (min-width: 1000px) {
  body {
    background: url('../img/waves_violet.png') top 25px left no-repeat,
      url('../img/waves_green.png') top 10px right 150px no-repeat,
      url('../img/background_top.png') top center repeat-x,
      url('../img/background_categories_top.png') top 1020px left repeat-x,
      url('../img/background_categories_rectangle.png') top 1110px left repeat-x,
      url('../img/background_categories_bottom.png') top 1300px left repeat-x,
      url('../img/background_bottom_wave_2.png') bottom 50px left repeat-x,
      url('../img/background_bottom_rectangle.png') bottom left repeat-x;
    background-size: auto;
  }
  .container {
    width: 1000px;
  }
  .header {
    width: 100%;
  }
  .header__title {
    width: 100%;
    height: 370px;
    margin-top: 40px;
    margin-left: -80px;
    background: url('../img/background_title.png') top center no-repeat,
      url('../img/circle_blue.png') bottom left 30px no-repeat;
    background-size: contain, 100px;
  }

  .title--firstRow {
    margin-left: -35px;
    font-size: 4em;
  }

  .title--secondRow {
    margin-top: -25px;
    margin-left: 35px;
    font-size: 4em;
  }

  .title--thirdRow {
    margin-left: 35px;
    font-size: 5em;
  }

  .img-woman {
    width: auto;
    margin-top: -12px;
    margin-left: 658px;
  }
  .img-stroller {
    width: auto;
    margin-top: 145px;
    margin-left: 585px;
  }

  .main__header {
    font-size: 36px;
  }

  .main {
    margin-top: 120px;
    background: url('../img/waves_green.png') top left 20px no-repeat,
      url('../img/point_pink.png') top 15px left 370px no-repeat,
      url('../img/point_green.png') top 72px left 220px no-repeat,
      url('../img/point_yellow.png') top right 330px no-repeat,
      url('../img/point_pink.png') top 80px right 120px no-repeat,
      url('../img/waves_pink.png') top 145px right -10px no-repeat,
      url('../img/waves_green_2.png') top 340px right 120px no-repeat;
    background-size: 180px, 10px, 10px, 10px, 10px, 150px, 180px;
  }

  .main__content {
    margin-top: -30px;
    margin-left: 55px;
    font-size: 1.5em;
    width: 80%;
  }

  .main__results {
    margin-top: 30px;
    margin-left: -15px;
  }

  .results-number {
    font-size: 4em;
    width: 90px;
    height: 90px;
  }

  .results-text {
    width: 70%;
    font-size: 1.2em;
  }

  .main__categories {
    margin-top: 85px;
  }

  .category__img {
    width: auto;
  }

  .category__label {
    top: -160px;
    left: 10%;
  }

  .main__partners {
    background: url('../img/waves_green.png') top left -50px no-repeat,
      url('../img/point_pink.png') top 50px left 160px no-repeat,
      url('../img/point_pink.png') top 10px right 320px no-repeat,
      url('../img/point_pink.png') bottom right 380px no-repeat,
      url('../img/waves_pink_2.png') top -20px right -30px no-repeat;
    background-size: 150px, 10px, 10px, 10px, 100px;
  }
  .partners__logo {
    width: 120px;
    height: 33px;
  }

  .contacts__link-group {
    padding-left: 38%;
  }
}
